fastapi~=0.115.12
uvicorn~=0.34.2
sqlalchemy~=2.0.40
pydantic~=2.11.3
python-nanoid
aiosqlite
jinja2
python-multipart
jdatetime~=5.2.0
qrcode~=8.1
pillow
geoip2~=5.0.1
user-agents~=2.2.0
starlette~=0.46.2